# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    dbam_driver:   pdo_pgsql
    dbam_host:     ilb-dbam-UPDATEME
    dbam_port:     5432
    dbam_name:     ttdbam
    dbam_user:     ttdbamuser
    dbam_password: Z3qrN2n1lkhoSh4K20Oz

    dbnz_driver:   pdo_pgsql
    dbnz_host:     ilb-dbnz-UPDATEME
    dbnz_port:     5433
    dbnz_name:     ttdbnz
    dbnz_user:     ttdbnzuser
    dbnz_password: B6Pmbf2eeOfVPSbQiJL1

    mongodb_server: mongodb-UPDATEME
    mongodb_port:   27017

    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            63SyO91vylVXBNvaAoxtwBvp7jLDGxkYsBueLeVcRCPYKM7qkdlUjKIZ9icb
