<h3>Hello, this is Khizer's TradeTracker Test Application's Home Page.</h3>
<br />
<br />

<b>Following is the application usage:</b>

<dl>
  <dt>/setup</dt>
  <dd>Prepare nodes for load balancer upon receiving GitHub push event.</dd>
  <dt>/test</dt>
  <dd>Testing end point where you are required to generate random record with 3 attributes</dd>
  <dt>/takedown</dt>
  <dd>Remove a node from the PostgreSQL cluster.</dd>
  <dt>/transfer</dt>
  <dd>Move data currently stored in PostgreSQL in NoSQL engine.</dd>
  <dt>/count</dt>
  <dd>Return the count of records stored in NoSQL engine.</dd>
  <dt>/teardown</dt>
  <dd>Dispose-off resources.</dd>
</dl>

<hr />
